In [1]:
a="randomstring"
print(a)
type(a)

randomstring

str

In [2]:
a=90
print(a)
type(a)

90

int

In [3]:
b=8.000
print(b)
type(b)

8.0

float

In [4]:
c=a+b
# print(c)
# type(c)
c

98.0

In [5]:
list1 = [1,"a",1.2,["qw",'qwerty', c]]
type(list1)

list

In [6]:
print(list1)
print(list1[3])
print(list1[-2])
print(list1[3][2])
# print(list1[9]) #error

[1, 'a', 1.2, ['qw', 'qwerty', 98.0]]
['qw', 'qwerty', 98.0]
1.2
98.0

In [7]:
print('index of a:',list1.index("a"))
list1.append("hyphen")
print(list1)
list1.append(["x",'y'])
print(list1)

index of a: 1
[1, 'a', 1.2, ['qw', 'qwerty', 98.0], 'hyphen']
[1, 'a', 1.2, ['qw', 'qwerty', 98.0], 'hyphen', ['x', 'y']]

In [8]:
dict1 = {'naam':"jaan k kya karoge", "age": "nanha munha raahi hu", 1: "bas ek random number"}
print(dict1)
type(dict1)

{'naam': 'jaan k kya karoge', 'age': 'nanha munha raahi hu', 1: 'bas ek random number'}

dict

In [9]:
print(dict1[1])
print(dict1['naam'])
dict1['naam']

bas ek random number
jaan k kya karoge

'jaan k kya karoge'

In [10]:
dict1.items()

dict_items([('naam', 'jaan k kya karoge'), ('age', 'nanha munha raahi hu'), (1, 'bas ek random number')])

In [11]:
dict1.keys()

dict_keys(['naam', 'age', 1])

In [12]:
dict1.values()

dict_values(['jaan k kya karoge', 'nanha munha raahi hu', 'bas ek random number'])

In [13]:
dict1.pop(1)

'bas ek random number'

In [14]:
dict1

{'naam': 'jaan k kya karoge', 'age': 'nanha munha raahi hu'}

In [15]:
dict1["kaha ho"] = 'jahannum me'
dict1

{'naam': 'jaan k kya karoge',
 'age': 'nanha munha raahi hu',
 'kaha ho': 'jahannum me'}

In [16]:
set1= {2.2,0.3,0.0,34, 0.00,00,"string1"}
print(set1)
type(set1)

{0.3, 0.0, 2.2, 34, 'string1'}

set

In [17]:
set2={0}
set2.issubset(set1)

True

In [18]:
tuple1 = ("hi", 1, 2.0, 0, 0.0, 'hi')
print(tuple1)
type(tuple1)

('hi', 1, 2.0, 0, 0.0, 'hi')

tuple

In [19]:
tuple1.count(2.0)

1

In [20]:
tuple1.count('hi')

2

In [21]:
tuple1.count(0)

2

In [22]:
tuple1.count(9)

0

In [23]:
tuple1.index(0.0)

3

In [24]:
set3=set((5,6,6))  #another way to define set using constructor

set3.add(12)
set3.update([4,"great", "invent"])
print(set3)
print('deleting 6...')
set3.remove(6) # gives error if elem not present 
set3.discard(6)  # no error if elem not present
print(set3)
print('popped elem:  ',set3.pop())
print('popped elem:  ',set3.pop())
print(set3)

print("length of set:",len(set3))
print("adding tuple :  ",tuple1)
set3.update(tuple1)
print(set3)

{4, 5, 6, 12, 'great', 'invent'}
deleting 6...
{4, 5, 12, 'great', 'invent'}
popped elem:   4
popped elem:   5
{12, 'great', 'invent'}
length of set: 3
adding tuple :   ('hi', 1, 2.0, 0, 0.0, 'hi')
{0, 1, 2.0, 12, 'hi', 'great', 'invent'}

In [25]:
set3copy = set3.copy()
print(set3copy)
set3copy.clear()
print(set3copy)
del set3copy

set1copy = set1.copy()
set2copy = set2.copy()
print("set1copy::  ", set1copy)
set2copy.update([34,'abc'])
print("set2copy::  ", set2copy)

print('\nsymmetric_difference = ',set1copy.symmetric_difference(set2copy))
print('intersecting elements: ',set1copy.intersection(set2copy))
print('whether disjoint? ',set1copy.isdisjoint(set2copy))

print('\nset1copy.difference(set2copy)= ',set1copy.difference(set2copy))
print("set1copy::  ", set1copy)
print("set2copy::  ", set2copy)
set1copy.difference_update(set2copy)
print('after updating on diff from set2copy')
print("set1copy::  ", set1copy)
print("set2copy::  ", set2copy)
print('whether disjoint now? ',set1copy.isdisjoint(set2copy))

print('UNION of all defined sets:::  ',set1.union(set1copy,set2copy,set3,set2))

{0, 1, 2.0, 'great', 12, 'invent', 'hi'}
set()
set1copy::   {0.3, 0.0, 2.2, 34, 'string1'}
set2copy::   {0, 34, 'abc'}

symmetric_difference =  {0.3, 2.2, 'string1', 'abc'}
intersecting elements:  {0, 34}
whether disjoint?  False

set1copy.difference(set2copy)=  {0.3, 2.2, 'string1'}
set1copy::   {0.3, 0.0, 2.2, 34, 'string1'}
set2copy::   {0, 34, 'abc'}
after updating on diff from set2copy
set1copy::   {0.3, 2.2, 'string1'}
set2copy::   {0, 34, 'abc'}
whether disjoint now?  True
UNION of all defined sets:::   {0.3, 0.0, 2.2, 34, 1, 2.0, 'string1', 12, 'hi', 'great', 'abc', 'invent'}

In [26]:
list2=list1.copy()
list2.append(1)
list2.append(1.2)
print(list2)

print("no. of times '1' occured:",list2.count(1))
list2.insert(3,'beech me')
print(list2)
print('popping elem=',list2.pop())
print(list2)
list2.remove(1)
print('removed first occurance of "1"')
print(list2)
list2[2] = "blackcurrant"
print(list2)

print('\nif/for constructs:::: ')
if "blackcurrant" in list2:
    for elem in list2:
#         below - not working part is commented
#         if (type(elem)==list): # or type(elem)==dict or type(elem)==set or type(elem)==tuple:
#         if (isinstance(elem, list)):# or isinstance(elem, dict) or isinstance(elem, set) or isinstance(elem, tuple)):
#         if (isinstance(elem, (list, dict, set, tuple))):
#         if (type(elem) in [list, dict, set, tuple]):
        if isinstance(elem, type([list, dict, set, tuple])):
            for item in elem:
                print(item)
        else:
            print(elem)

[1, 'a', 1.2, ['qw', 'qwerty', 98.0], 'hyphen', ['x', 'y'], 1, 1.2]
no. of times '1' occured: 2
[1, 'a', 1.2, 'beech me', ['qw', 'qwerty', 98.0], 'hyphen', ['x', 'y'], 1, 1.2]
popping elem= 1.2
[1, 'a', 1.2, 'beech me', ['qw', 'qwerty', 98.0], 'hyphen', ['x', 'y'], 1]
removed first occurance of "1"
['a', 1.2, 'beech me', ['qw', 'qwerty', 98.0], 'hyphen', ['x', 'y'], 1]
['a', 1.2, 'blackcurrant', ['qw', 'qwerty', 98.0], 'hyphen', ['x', 'y'], 1]

if/for constructs::::
a
1.2
blackcurrant
qw
qwerty
98.0
hyphen
x
y
1

In [36]:
list3 = list(("32","123"))
print(list3)
list3.extend(list1)
print(list3)
list3.extend(set1)
print(list3)
list3.extend(dict1)
print(list3)
list3.extend(tuple1)
print(list3)
del list3

list3 = list(("32","123","rgb","ann"))
print(list3)
list3.sort()
print(list3)
list3.reverse()
print(list3)
del list3

list3 = list((78,78,77,45))
print(list3)
list3.sort()
print(list3)

['32', '123']
['32', '123', 1, 'a', 1.2, ['qw', 'qwerty', 98.0], 'hyphen', ['x', 'y']]
['32', '123', 1, 'a', 1.2, ['qw', 'qwerty', 98.0], 'hyphen', ['x', 'y'], 0.3, 0.0, 2.2, 34, 'string1']
['32', '123', 1, 'a', 1.2, ['qw', 'qwerty', 98.0], 'hyphen', ['x', 'y'], 0.3, 0.0, 2.2, 34, 'string1', 'naam', 'age', 'kaha ho']
['32', '123', 1, 'a', 1.2, ['qw', 'qwerty', 98.0], 'hyphen', ['x', 'y'], 0.3, 0.0, 2.2, 34, 'string1', 'naam', 'age', 'kaha ho', 'hi', 1, 2.0, 0, 0.0, 'hi']
['32', '123', 'rgb', 'ann']
['123', '32', 'ann', 'rgb']
['rgb', 'ann', '32', '123']
[78, 78, 77, 45]
[45, 77, 78, 78]

In [49]:
dict2=dict(dict1)
for x, y in dict2.items():
  print(x, ':', y)
print("popitem dict2: ",dict2.popitem())
print(dict2)

x = ('key1', 'key2', 'key3')
y = 3
print('\n',dict.fromkeys(x))
print(dict.fromkeys(x,y))

dict3 = dict(brand="Ford", model="Mustang", year=1964)
print('\n',dict3)
x = dict3.setdefault("color", "White")
y = dict3.setdefault("year", 1971)
print(x)
print(y)
print(dict3)


print("\ndict2",dict2)
print("dict3",dict3)
dict2.update(dict3)
print("after update\ndict2",dict2)
print("dict3",dict3)

naam : jaan k kya karoge
age : nanha munha raahi hu
kaha ho : jahannum me
popitem dict2:  ('kaha ho', 'jahannum me')
{'naam': 'jaan k kya karoge', 'age': 'nanha munha raahi hu'}

 {'key1': None, 'key2': None, 'key3': None}
{'key1': 3, 'key2': 3, 'key3': 3}

 {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
White
1964
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

dict2 {'naam': 'jaan k kya karoge', 'age': 'nanha munha raahi hu'}
dict3 {'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}
after update
dict2 {'naam': 'jaan k kya karoge', 'age': 'nanha munha raahi hu', 'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}
dict3 {'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

In [63]:
string1="Hello World"
print(string1.swapcase())
print(string1[4:-2])
print(string1[-4:-2])
print(string1[3:7])
print(string1.casefold()) #to lowercase
print(string1)

age = 36
string2 = "My name is John, and I am {}. a,b,c"
print(string2.format(age))
print(string2.replace(",", ";"))
print(string2.replace(",", ";", 2))
print(string2.split(","))
print(string2.split())
print(string2)

hELLO wORLD
o Wor
or
lo W
hello world
Hello World
My name is John, and I am 36. a,b,c
My name is John; and I am {}. a;b;c
My name is John; and I am {}. a;b,c
['My name is John', ' and I am {}. a', 'b', 'c']
['My', 'name', 'is', 'John,', 'and', 'I', 'am', '{}.', 'a,b,c']
My name is John, and I am {}. a,b,c